# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/spellright.dict

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db

# Folder config file
[Dd]esktop.ini

# Blender backup file
*.blend1
